<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
</head>
<body>

<div th:replace="student/header"></div>
<form method="post" action="/search">
    <div>
        <ul>
            <li>
                <a href="/student/searchCoursesStudent">Search for courses</a>
            </li>
            <li>
                <a href="/courses/students/">List of courses</a>
            </li>
            <li>
                <a href="/student/edit/">Edit your information</a>
            </li>
        </ul>
    </div>
</form>
</body>
</html>

<!---
Student. This user will login with the school credentials and can do the following tasks:
Search for courses
Sign up for a course
See a list with the courses he/she signed up for
--->