<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>

<div th:replace="student/header"></div>

<div>
    <div>
        <h1>Add new course</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <td scope="col">ID</td>
                <td scope="col">Name(DA)</td>
                <td scope="col">Name(EN)</td>
                <td scope="col">Mandatory</td>
                <td scope="col">ECTS</td>
                <td scope="col">Semester</td>
                <td scope="col">Class code</td>
                <td scope="col">Language</td>
                <td></td>
                <td></td>

            </tr>
            </thead>
            <tbody th:each="courses:${courses}">

            <tr>
                <td th:text="${courses.id}">{{id}}</td>
                <td th:text="${courses.nameInDanish}">{{nameInDanish}}</td>
                <td th:text="${courses.nameInEnglish}">{{nameInEnglish}}</td>
                <td th:text="${courses.mandatory}">{{mandatory}}</td>
                <td th:text="${courses.ects}">{{ECTS}}</td>
                <td th:text="${courses.semester}">{{Semester}}</td>
                <td th:text="${courses.classCode}">{{classCode}}</td>
                <td th:text="${courses.language}">{{language}}</td>

                <td>
                    <ul>
                        <li th:each="teacher : ${courses.teachers}" th:text="${teacher.firstName}">
                        </li>
                    </ul>
                </td>
                <td>
                    <button type="button" th:onclick="'openCourseModal('+${courses.id}+')'">Show more</button>
                </td>

                <td>
                    <a th:href="'/course/join/'+${courses.id}">Join</a>
                </td>

            </tr>
            </tbody>

            <!-- Large modal -->
        </table>

    </div>
</div>

</body>
</html>