<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="student/header"></div>
<div>
    <div>
        <h1 th:text="'Students assigned to course: ' + ${courses.nameInEnglish}"><br>
        </h1>

        <table>
            <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>

            </thead>
            <tbody>
            <tr th:each="student : ${courses.students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.firstName} + ' ' + ${student.lastName}"> {{Student first and last name}}</td>
                <td th:text="${student.email}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>