<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="header"></div>

<div>
    <h1>Create new adminstrator</h1>
    <div>
        <div>
            <form method="post" action="/courses/new">
                <div>
                    <label scope="col">Name(DA)</label>
                    <input th:field="${courses.nameInDanish}" type="text" placeholder="Enter name of course in danish"><br>
                </div>
                <div>
                    <label scope="col">Name(EN)</label>
                    <input th:text="${courses.nameInEnglish}" type="text"  placeholder="Enter name of course in english"><br>
                </div>
                <div>
                    <label scope="col">Mandatory</label>
                    <input th:text="${courses.mandatory}"  type="checkbox" placeholder="Enter if course is manadatory"><br>
                </div>
                <div>
                    <label scope="col">ECTS</label>
                    <input th:text="${courses.ects}"  type="number" min="5" max="30" placeholder="Enter ects points"><br>
                </div>
                <div>
                    <label scope="col">Semester</label>
                    <input th:text="${courses.semester}" type="number"  min="1" max="10" placeholder="Enter ects points"><br>
                </div>
                <div>
                    <label scope="col">Class code</label>
                    <input th:text="${courses.classCode}" type="text" placeholder="Enter class code"><br>
                </div>
                <div>
                    <label scope="col">Language</label>
                    <input th:text="${courses.language}" type="text" placeholder="Enter language"><br>
                </div>
                <div>
                    <label scope="col">Min # of students</label>
                    <input th:text="${courses.minimumNumberOfStudents}" type="number" min="15" max="50" placeholder="Enter minimum number of students"><br>
                </div>
                <div>
                    <label>Max # of students</label>
                    <input th:text="${courses.maximumNumberOfStudents}" type="number" min="1" max="50" placeholder="Enter maximumm number of students"><br>
                </div>
                <div>
                    <label>Expected # of students</label>
                    <input th:text="${courses.expectedNumberOfStudents}" type="number" min="35" max="50" placeholder="Enter expected number of students"><br>
                </div>
                <div>
                    <label>Prerequisites</label>
                    <input th:text="${courses.prerequisites}" type="text" placeholder="Enter prerequisites"><br>
                </div>
                <div>
                    <label>Learning outcome</label>
                    <input th:text="${courses.learningOutcome}" type="text" placeholder="Enter prerequisites"><br>
                </div>
                <div>
                    <label>Content</label>
                    <input th:text="${courses.content}" type="text" placeholder="Enter prerequisites"><br>
                </div>
                <div>
                    <label>Learning activities</label>
                    <input th:text="${courses.learningActivities}" type="text" placeholder="Enter prerequisites"><br>
                </div>
                <div>
                    <label>Exam form</label>
                    <input th:text="${courses.examForm}" type="text" placeholder="Enter prerequisites"><br>
                </div>

                <button type="submit" value="send">Save</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>