<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Frontpage Adminstrator</title>
    <!--<link type="text/css" rel="stylesheet" href="">-->

<body>

<div th:replace="header"></div>
<div>
    <div>
        <div>
            <a href="/administrator/new">Create new administrator</a>
        </div>
        <div>
            <a href="/administrator/show">List of administrator</a>
        </div>
        <div>
            <a href="/courses/show">List of students</a>
        </div>
        <div>
            <a href="/teacher/show">List of teachers</a>
        </div>
        <div>
            <a href="/studyProgramme/show">List of study programme</a>
        </div>
        <div>
            <a href="/courses/show">List of courses</a>
        </div>
        <div>
            <a href="/administrator/waitinglist"> Student request</a>
        </div>

    </div>
</div>

</body>
</html>